/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif; }

.first {
  float: left; }

.header {
  background: #cccccc;
  width: 240px; }
  .header img {
    width: 200px;
    padding: 20px; }

nav ul {
  background-color: #cccccc;
  width: 240px;
  float: left;
  display: inline-block;
  color: #990000;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s; }
  nav ul .room {
    display: inline-block;
    padding: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 140px;
    float: left; }
    nav ul .room:hover {
      background-color: #990000;
      color: white;
      -webkit-animation: 1s;
      animation: 1s; }
  nav ul .change {
    display: inline-block;
    padding: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 20px;
    float: left;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    nav ul .change:hover {
      -webkit-filter: brightness(1.5);
      filter: brightness(1.5);
      color: white;
      -webkit-animation: 1s;
      animation: 1s; }
  nav ul a {
    text-decoration: none;
    color: inherit; }
  nav ul img {
    width: 14px;
    height: 14px; }
  nav ul .add {
    display: inline-block;
    padding: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 21px;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    nav ul .add:hover {
      -webkit-filter: brightness(1.5);
      filter: brightness(1.5);
      color: white;
      -webkit-animation: 1s;
      animation: 1s; }
  nav ul .logout {
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 200px;
    float: left; }
    nav ul .logout:hover {
      background-color: #990000;
      color: white;
      -webkit-animation: 1s;
      animation: 1s; }

.handle {
  width: 100vw;
  height: 58px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#cccccc));
  background: -webkit-linear-gradient(white, #cccccc);
  background: -o-linear-gradient(white, #cccccc);
  background: linear-gradient(white, #cccccc);
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  display: none; }
  .handle p {
    margin: 0;
    float: left;
    padding: 20px 20px; }
  .handle #menu {
    padding-right: 15px;
    height: 55px;
    float: right; }
  .handle #logo {
    float: left;
    height: 55px;
    padding-left: 15px; }

section {
  line-height: 1.5em;
  padding: 40px 0px;
  margin-left: -10px !important;
  margin: 0 auto;
  width: calc(100vw - 305px);
  text-align: justify;
  float: left; }
  section .allstuff {
    margin-top: 65px; }
  section h1 {
    margin-left: 40px; }
  section a {
    text-decoration: none;
    color: black; }
    section a:hover {
      color: white; }
  section li {
    border: 1px solid #990000;
    border-radius: 10px;
    list-style-type: none;
    width: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 5px;
    padding: 5px 10px; }
    section li:hover {
      background-color: #990000; }

@media screen and (min-width: 581px) {
  nav ul {
    min-height: calc(100vh - 137px);
    height: auto; } }

@media screen and (max-width: 580px) {
  .header {
    display: none; }
  section {
    width: 90vw;
    margin: 0 auto; }
  nav ul {
    max-height: 0;
    width: 100vw; }
  nav .showing {
    max-height: 100em; }
  nav .room {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80vw !important;
    padding: 15px;
    text-align: left; }
  nav .change {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20vw !important;
    padding: 15px;
    text-align: center; }
  nav .add {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20.1vw !important;
    padding: 15px;
    text-align: center; }
  nav .logout {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100vw !important;
    text-align: center; }
  nav .handle {
    display: block; } }
