$lightMen: #cccccc;
$brown: #990000;

@import "modal";

body {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
}

.first {
  float: left;
}

.header {
  background: $lightMen;
  width: 240px;
  img {
    width: 200px;
    padding: 20px;
  }
}

nav ul {
  background-color: $lightMen;
  width: 240px;
  float: left;
  display: inline-block;
  color: $brown;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: max-height 0.4s;
  .room {
    display: inline-block;
    padding: 20px;
    transition: 0.3s;
    width: 140px;
    float: left;
    &:hover {
      background-color: $brown;
      color: white;
      animation: 1s;
    }
  }
  .change {
    display: inline-block;
    padding: 20px;
    transition: 0.3s;
    width: 20px;
    float: left;
    transition: 0.5s;
    &:hover {
      filter: brightness(1.5);
      color: white;
      animation: 1s;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    width: 14px;
    height: 14px;
  }
  .add {
    display: inline-block;
    padding: 20px;
    transition: 0.3s;
    width: 21px;
    float: right;
    transition: 0.5s;
    &:hover {
      filter: brightness(1.5);
      color: white;
      animation: 1s;
    }
  }
  .logout {
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    transition: 0.3s;
    width: 200px;
    float: left;
    &:hover {
      background-color: $brown;
      color: white;
      animation: 1s;
    }
  }
}

.handle {
  width: 100vw;
  height: 58px;
  background: linear-gradient(white, $lightMen);
  text-align: left;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  display: none;
  p {
    margin: 0;
    float: left;
    padding: 20px 20px;
  }
  #menu {
    padding-right: 15px;
    height: 55px;
    float: right;
  }
  #logo {
    float: left;
    height: 55px;
    padding-left: 15px;
  }
}

section {
  line-height: 1.5em;
  padding: 40px 0px;
  margin-left: -10px !important;
  margin: 0 auto;
  width: calc(100vw - 305px);
  text-align: justify;
  float: left;
  .allstuff {
    margin-top: 65px;
  }
  h1 {
    margin-left: 40px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: white;
    }
  }
  li{
    border: 1px solid $brown;
    border-radius: 10px;
    list-style-type: none;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 5px;
    padding: 5px 10px;
    &:hover {
      background-color: $brown;
    }
  }
}

@media screen and (min-width: 581px) {
  nav ul {
    min-height: calc(100vh - 137px);
    height: auto;
  }
}

@media screen and (max-width: 580px) {
  .header {
    display: none;
  }
  section {
    width: 90vw;
    margin: 0 auto;
  }
  nav {
    ul {
      max-height: 0;
      width: 100vw;
    }
    .showing {
      max-height: 100em;
    }
    .room {
      box-sizing: border-box;
      width: 80vw !important;
      padding: 15px;
      text-align: left;
    }
    .change {
      box-sizing: border-box;
      width: 20vw !important;
      padding: 15px;
      text-align: center;
    }
    .add {
      box-sizing: border-box;
      width: 20.1vw !important;
      padding: 15px;
      text-align: center;
    }
    .logout {
      box-sizing: border-box;
      width: 100vw !important;
      text-align: center;
    }
    .handle {
      display: block;
    }
  }
}
