<!doctype HTML>
<html>
  <head>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <title>Inventar</title>
  </head>
  <body>
    <div class="first">
    <div class="header">
      <img src="./img/logo.png">
    </div>
    <nav>
      <div class="handle">
        <img id="logo" src="./img/logo.png">
        <img id="menu" src="./img/menu.png">
      </div>
      <ul>
        <a href="#" title="Dodaj sobu"><li class="add"><img src="./img/add.png"></li></a>

        <div class="group">
          <a href="#"><li class="room">Učionica 1</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Učionica 2</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Čitaonica</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Kabinet fizike</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Kabinet Biologije</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Učionica 12</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Kabinet informatike</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Zbornica</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <div class="group">
          <a href="#"><li class="room">Podrum</li></a>
          <a href="#" title="Ukloni sobu"><li class="change"><img src="./img/remove.png"></li></a>
        </div>
        <a href="#"<li class="logout">Odjavi se</li></a>
      </ul>
    </nav>
    </div>

    <section>
      <h1>Učionica 1</h1>

      <div class="allstuff">
        <ul>
          <a href="#" id="myBtn"><li>Drveni stol</li></a>
          <a href="#"><li>Monitor</li></a>
          <a href="#"><li>Smart TV</li></a>
          <a href="#"><li>Marija Katić</li></a>
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Drveni stol</h2>
          <hr>
          <img src="./img/qr.png" width="200" style="">
          <div class="info" style="">
            <p>O stvari: {{blablabla}}</p>
            <p>Godina proizvodnje: {{blablabla}}</p>
            <p>Na stanju: {{blablabla}}</p>
          </div>
        </div>

      </div>

    </section>
    <script src="./js/modal.js"></script>
    <script>
      $('.handle').on('click', function() {
        $('nav ul').toggleClass('showing')
      });
    </script>
  </body>
</html>
